export(from.hclust)
export(from.kmeans)
export(getOptTheta)
export(make2dStabilityImage)
export(perturbationStability)
S3method(plot,StabilityCollection)
S3method(plot,StabilityReport)
S3method(print,StabilityCollection)
S3method(print,StabilityReport)
S3method(summary,StabilityCollection)
S3method(summary,StabilityReport)
useDynLib(easystab)
