useDynLib(easystab)

export(perturbationStability,estimateK, plotStabilitySequence, plotStabilityMap, plotLabeledStabilityMap, make_stability_image, plotStabilityImage, clusterings_from_kmeans, clusterings_from_hclust, getOptTheta)
